[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
mlflow = "==1.30.1"
prefect = "*"
tqdm = "*"
joblib = "*"
pyarrow = "*"
psycopg = "*"
psycopg-binary = "*"
numpy = "*"
scikit-learn = "*"
jupyter = "*"
matplotlib = "*"
requests = "*"
xgboost = "*"
seaborn = "*"
boto3 = "*"
awscli = "*"
hyperopt = "*"
evidently = "*"

[dev-packages]
pytest = "*"
deepdiff = "*"
pylint = "==2.14.4"
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
